*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    padding: 0 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}


.flex-container{
    width: 100%;
    max-width: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius:23px;
    background-color: hsl(0, 0%, 100%);
    padding: 10px 0px 19px;
}

.box-1{
    width: 100%;
    display: flex;
    max-width: 90%;

}

.box-2{
    width: 100%;
    display: flex;
    max-width: 87%;
    color: hsl(218, 44%, 22%);
}

.box-3{
    width: 100%;
    display: flex;
    max-width: 87%;
    color: hsl(220, 15%, 55%)
}

img {
width: 100%;
max-width: 20em;
border-radius: 23px;
display: block;
}
